.wrap{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.searchbar{
    height: 60px;
   
}
.topmenu{
    height: 60px;
    margin-bottom: 20px;      
}

h1{
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}
.topmenu .navbar-brand{
    font-size: 40px;
    color: #83521e;  
}
.navbar .navbar-brand:hover{
    color: #83521e;
}
.navbar-nav li{
    width: 139px;
    color:#fff;
}
.navbar-nav li span:hover{
    color: #83521e;
}
.navbar .other{
    float: left;
    padding: 14px 0 0 0;
}

.topmenu .other li{
    float: right;
    list-style-type: none;
    font-size: 12px;
    padding: 0 10px 0 10px;
}
.topmenu .other li a{
    color:#83521e;
    font-family: Verdana;
   
}
.topmenu .other .e-paper{
    border-left: 1px dotted;
}
.topmenu .other .sign{
    border-left: 1px dotted; 
}  

.topmenu .other .car .shopcar{
   width: 16px
}
.connectBar{
    padding: 40px 0;
}
.connectBar a img{
   width: 200px;
   height: 69px;
   margin: 0 45px;
}
.connectBar a:hover{
    box-shadow: 2px 2px 2px black;
    display: inline-block;
}

.nav1{
    float: left;
    width: 200px;
}
.nav2{
    float: right;
}
.clearfix{
    clear: both;
}
.footerBox{
    border-top: 2px solid#DCDCDC;
    margin-top: 16px;
}
.table{
    width: 1100px;
    margin-top: 16px;
    font-size: small;  
}
.table th{
    color:rgba(0,0,0,.5);
    padding: 3px 3px 3px 0;
}
.table td{
    padding: 3px 3px 3px 0;
    width: 180px;
}
.table td a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
}
.table td a:hover{
    text-decoration: none;
    color: #83521e;
}
.footer{
    border-top: 2px solid#DCDCDC;
    padding: 16px 0;
    height: 70px;
    font-size: small;
    color: rgba(0,0,0,.5);
}
.tel{
    float: left;
}
.copyright{
    float: right;
}
