.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #efe9e7;
    color:#3D1101;
    padding: 40px 0;
}
.feature h3{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}
.feature h3::before{
    position: absolute;
    top: 30px;
    left: -150px;
}
.feature h3::after{
    position: absolute;
    top: 30px;
    right: -150px
}
.feature h3::before,
.feature h3::after{
    content: '';
    width: 135px;
    height: 1px;
    background-color: #3D1101;
}
.feature ul{
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.feature li{
    width: 30%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature li a{
    display: block;
    overflow: hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.feature li a img{
    transition: transform 1s ease; 
}
.feature img:hover{
    transform: scale(1.2);
}
.feature li h4{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 300;
}
.feature li p{
    font-weight: 300;
    line-height: 1.5;
}
@media(max-width: 560px){
    .feature{
        padding-bottom: 0;
    }
    .feature h3::before,
    .feature h3::after{
        display: none;
    }
    .feature ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature ul li{
        width: 70%;
        margin-bottom: 30px;
    }
}
.chef{
    background-color: #3D1101;
    color: #fff;
    display: flex;
}
.chef img, .chef .text{
    width: 50%;
}
.chef .text{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    padding: 36px 30px 14px 30px;
}
.chef .ch-name{
    font-size: 20px;
    font-weight: normal;
}
.chef .en-name{
    padding-bottom: 10px;
    font-weight: normal;
}
@media(max-width: 560px){
    .chef{
        flex-direction: column;
    }
    .chef img, .chef .text{
        width: 100%;
    }
}
.leave-comment{
    background-color: #efe9e7;
    font-weight: 300;
    padding: 40px 16px 24px 16px;
}
.leave-comment h3{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 32px;
    text-align: center;
}
.leave-comment ul{
    display: flex;
    padding-left: 0;
}
.leave-comment ul li{
    display: flex;
    padding: 0 20px;
}
.leave-comment ul li img{
    border-radius: 50%;
    width: 67px;
    height: 67px;
}
.leave-comment h4{
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 200;
}
.leave-comment ul li .comment{
    padding: 25px 0 0 10px;
}
.leave-comment ul li .comment .jobTitle{
    text-align: right;
}
@media(max-width: 768px){
    .leave-comment ul{
        flex-direction: column;
    }
    .leave-comment ul li{
        width: 100%;
    }
}
.booking{
    padding: 50px 24px;
}
.booking h3{
    font-size: 24px;
    font-weight: 300;
    color: #3D1101;
    text-align: center;
}
.booking .imformation{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.booking .imformation img,
.booking .imformation .detial{
    width: 50%;
    padding: 0 12px;
}
.booking .vegetfood .need{
    display: block;
    padding-bottom: 8px;
}
.booking .vegetfood .form-check{
    margin-right: 30px;
}
.booking .btn{
    width: 70px;
}
.booking .btn-warning{
    background-color: #F56C23;
    border-color: #F56C23;
    color: #fff;
}
.booking .btn-warning:hover{
    background-color: #C4561B;
    border-color: #C4561B;
    color: #fff;
}
@media(max-width:560px){
    .booking .imformation{
        flex-direction: column;
    }
    .booking .imformation img,
    .booking .imformation .detial{
        width: 100%;
    }
    .booking .imformation .detial{
        margin-top: 30px;
    }    
}
@media(max-width:768px){
    .booking .btnGroup{
        display: flex;
        justify-content: flex-end;
    }
    .booking .btnGroup .btn{
        margin-left: 10px;
    }
}
