.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
/*表頭*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99;
}
.header .logo{
    text-decoration: none;
    display: inline-block;
    padding-top: 13px;
    padding-left: 40px;
}
.header .logo h1{
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}
@media(max-width: 768px){
    .header{
        flex-direction: column;
    }
}
.topmenu ul{
    display: flex;
    margin-bottom: 0;
    padding-right: 10px;
    background-color: #000;
}
.topmenu ul .close-offcanvas{
    display: none;
}
.topmenu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 60px;
    padding-top: 16px;
}
.topmenu .tm_hamburger{
    position: absolute; 
    top: -2px;
    right: 10px;
    display: none;
    font-size: 38px;
    width: 80px;
    color: #fff;
    text-align: center;
}
.topmenu :hover{
    color: orange;
}
@media(max-width: 768px){
    .topmenu ul{
        flex-direction: column;
        position: absolute;
        top: 0;
        transform: translateX(-200px);
        width: 200px;
        min-height: 100vh;
        padding: 0;
    }
    .topmenu ul .close-offcanvas{
        display: block;
        align-self: flex-end;
    }
    .topmenu ul .close-offcanvas a{
        height: 40px;
        width: 40px;
    }    
    .topmenu ul li a{
        width: 100%;
    }
    .topmenu .tm_hamburger{
        display: inline-block;
    }
}
/*<body>動態增加選擇器offcanvas*/
.offcanvas{
    transform: translateX(200px);
    transition: all .4s;
}


.banner{
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 326px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.slogan{
    width: 460px;
    color: #fff;
    background-color: #0006;
    text-align: center;
    padding: 16px 0;
}   
.slogan h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 1.3;
}
.slogan h2 span{
    margin: 0;
}
.slogan p{
    margin-bottom: 0;
    font-weight: 100;
}
.slogan span{
    margin: 0 8px;
    font-weight: 100;
}
@media(max-width: 560px){
    .banner{
        background: url(../img/banner_mobile.png) no-repeat;
        height: 400px;
    }
    .banner .slogan h2 span{
        display: block;
    }
}
/*內容*/
/*表尾*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #efe7e7;
    color: #3d1101;
    padding: 40px 30px;
}
.footer div{
    width: 32%;
}
.footer h2{
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 400;
}

.footer .about p{
    line-height: 1.5;
}
.footer .contact{
    padding-left: 7%;
}
.footer .contact h2{
    line-height: 1.2;
    padding-bottom: 12px;
}
.footer .contact ul{
    list-style: disc;
    line-height: 1.5;
    padding-left: 20px;
}
.footer .contact li a{
    text-decoration: none;
    color: inherit;
}
.footer .link{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
.footer .link h2{
    font-size: 40px;
    color: #3d1101;
    font-weight: bolder;
    margin-bottom: 10px;
}
.footer .link .club{
    display: flex;
    justify-content: space-evenly;
    width: 130px;
}
.footer .link .club a:hover{
    opacity: 0.6;
}
.footer .link a{
    text-decoration: none;
    font-size: 32px;
}
.footer .link .google{
    color: #db4437;
}
.footer .link .twitter{
    color: #41abe1;
}
.footer .link .facebook{
    color: #3a5795;
}
@media(max-width:768px){
    .footer{
        padding: 30px 15px;
    }
    .footer .contact{
        margin-left: 5%;
    }
}
@media(max-width:560px){
    .footer{
        flex-direction: column;
        padding: 30px 5px;
    }
    .footer .about{
        display: none;
    }
    .footer .contact{
        padding-left: 0;
    }
    .footer div{
        width: 95%;
    }
}
.goTopBtn{
    position: fixed;
    right: 40px;
    bottom: 60px;
    font-size: 40px;
    color: orange;
}
