.buyFood{
    color: #3D1101;
    background-color: #efe9e7;
    display: flex;
    padding-top: 50px;
}
.sideMenu{
    width: 25%;
    padding-left: 36px;
}
.sideMenu .sideMenu-title{
    display: flex;
}
.sideMenu .sideMenu-title i{
    font-size: 28px;
}
.sideMenu .sideMenu-title h3{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    display: inline-block;
}
.sideMenu .menu ul{
    padding-left: 0;
} 
.sideMenu .menu ul li{
    border-bottom: 1px solid #3D1101;
}
.sideMenu .menu ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #3d1101;
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px;
    font-weight: 300;
}
.sideMenu .menu ul li a:hover{
    color:#fff;
    background-color: #8d4025;
}
@media(max-width: 768px){
    .buyFood{
        flex-direction: column;
        align-items: center;
    }
    .sideMenu{
        width: 70%;
        padding-left: 0;
    }
}
@media(max-width: 560px){
    .sideMenu{
        width: 90%;
        padding-left: 0;
    }
}
.product-area{
    width: 75%;
}
.product-area .topBar{
    display: flex;
    margin: 0 0 23px 32px;
    width: 100%;
}
.topBar .search{
    width: 60.111%;                   
}
.topBar .search input{
    height: 2em;
    border: 2px solid #3D1101;
    border-right: none;
    background-color: #efe9e7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.topBar .search .btn{
    height: 2em;
    width: 36px;
    background-color: #3D1101;
    color: #fff; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.topBar .search .btn i{
    font-size: 20px;
}
.topBar .checkout{
    cursor: pointer;
    margin-left: 11%;
} 
.topBar .checkout:hover{
    color: black;
    animation: headShake; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /*set a duration! */
}
.topBar .checkout a{
    text-decoration: none;
    color: #3D1101;
    border-right: 1px solid #3D1101;
    font-size: 16px;
    padding-right: 16px;
}
.topBar .checkout i{
    position: relative;
    padding-left: 10px;
    font-size: 24px;
}
.topBar .checkout .number{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FF5E45;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.product-area .product ul{
    display: flex;
    flex-wrap: wrap;
}
.product ul li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 0 5px gray;
    width: 29.5%;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.product li .tag{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    
}
.product li .tag::before,
.product li .tag::after{
    content:'';
    border: 5px solid #078F6D;
    position: absolute;
}
.product li .tag::before{
    left: 17px;
}
.product li .tag::after{
    bottom: 17px;
    right: 0;
}
.product li .tag p{
    font-size: 14px;
    color: #fff;
    border-top: none;
    width: 150px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: -45px;
    background-color: #00CC99;
    padding: 5px 0;
    z-index: 97;
}
.product li img{
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0 0;
}
.product li .like{
    position: absolute;
    top: 9px;
    left: 9px;
    color: #fff;
    font-weight: 500;
    font-size: 23px;
    cursor: pointer;
}
.product ul li .ilike{
    font-weight: 600;
}
.product li a{
    text-decoration: none;
}
.product li a h4{
    font-weight: 300;
    font-size: 20px;
    color: #3d1101;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}
.product li a h4 span{
    font-size: 12px;
}
.product li p{
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid #3D1101;
    width: 91px;
    padding-top: 20px;
    text-align: center;
}
.product li .btn{
    width: 91%;
    color: #ff5145;
    border: 2px solid #ff5145;
    margin-bottom: 10px;
}
.product li .btn:hover{
    background-color: #ff5145;
    color: #fff;
}
.product li .btn i{
    margin-right: 8px;
}
@media(max-width: 768px){
    .product-area{
        width: 70%;
    }
    .product-area .topBar{
        flex-direction: column;
        margin: 0;
    }
    .topBar .search{
        width: 60%;
    }
    .topBar .checkout{
        margin: 0 0 24px 0;
        align-self: flex-end;
    }
    .product-area .product{
        width: 100%;
    }
    .product ul{
        padding-left: 0;
        justify-content: space-between;
    }
    .product ul li{
        width: 48.5%;
        margin: 0 0 16px 0;
    }
}
@media(max-width: 560px){
    .product-area{
        width: 90%;
    }
    .topBar .search{
        width: 100%;
        margin-bottom: 24px;
    }
    .product ul li,.product ul li a{
        width: 100%;
    }
} 